doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon', href='/public/top.ico')
body 
  title home
style
      include style.css
h1 Mathionary
p Restful API to query definitions and examples of maths concepts. 
p Returns at most 10 results
a(href='/basic') EXPLORE
a(href='/cases') EXPLORE
a(href='/plus') EXPLORE
a(href='/new') EXPLORE
.twirl
    span(style='--i:1')
    img(src='https://i.ibb.co/rkZnxqH/Group-16.png')
    
